body{
    font-family: "PT Sans Narrow","Arial", sans-serif;
    min-width: 920px;
}
.container{
    width: 900px;
    margin: 0 auto;
    padding: 0 10;


 /*header*/
}
.main-header{
    min-height: 70px;
    background: #000000;
}
.main-navigation{
    float: left;
}
.main-navigation li{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 30px 0 ;
    margin-right: 40px;
}
.main-navigation a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color:#fff;

}
.user-block{
    float:right;
    margin: 30px 0 ;
}
.user-block a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
